body{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  padding-top: 3rem;
}

.App{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 3rem;
  border: 1px solid;
}
input{
  width: 20rem;
  height: 3rem;
  font-size: 1.6rem;
  border: 2px solid rgba(18, 18, 18, 0.777);
  margin-right: 3rem;
}
input:focus{
  outline: none;
  border: 2px solid green;
}
button{
  font-size: 1.6rem;
  height: 3rem;
  padding: .4rem 1.5rem;
  cursor: pointer;
}